# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Rust / Cargo
src-tauri/target/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.sw?
*.suo

# OS
.DS_Store
Thumbs.db

# Local env files
*.local

# Misc
.cache/
